In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

In [2]:
column_names = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']
dataframe = pd.read_csv('./data/housing_train.txt', delim_whitespace=True, header = None)
dataframe.columns = column_names

In [3]:
dataframe.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,433.000000,433.000000,433.000000,433.000000,433.000000,433.000000,433.000000,433.000000,433.000000,433.000000,433.000000,433.00000,433.000000,433.000000
mean,3.473223,11.553118,10.762125,0.066975,0.552842,6.301021,67.842032,3.800756,9.422633,398.554273,18.384758,362.30545,12.399607,22.867206
std,8.537611,23.730903,6.658463,0.250267,0.115408,0.712280,27.796861,2.055903,8.686897,167.475074,2.128271,84.56723,7.089464,9.497501
min,0.006320,0.000000,0.460000,0.000000,0.392000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.32000,1.730000,5.000000
25%,0.071510,0.000000,5.130000,0.000000,0.453000,5.888000,44.400000,2.106900,4.000000,277.000000,17.000000,376.75000,6.750000,17.200000
50%,0.229690,0.000000,8.560000,0.000000,0.532000,6.209000,74.800000,3.331700,5.000000,311.000000,18.700000,392.33000,10.580000,21.500000
75%,3.568680,12.500000,18.100000,0.000000,0.624000,6.629000,93.300000,5.214600,24.000000,666.000000,20.200000,396.90000,16.420000,25.100000
max,88.976200,100.000000,25.650000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,666.000000,21.200000,396.90000,36.980000,50.000000

In [4]:
train_data = dataframe.drop('MEDV', axis=1)  
train_label = dataframe['MEDV']

In [5]:
df_test = pd.read_csv('./data/housing_train.txt', delim_whitespace=True, header = None)
df_test.columns = column_names

In [6]:
test_data = df_test.drop('MEDV', axis = 1)
test_label = df_test['MEDV']

In [11]:
from sklearn.tree import DecisionTreeRegressor  
regressor = DecisionTreeRegressor(max_depth = 6)  
regressor.fit(train_data, train_label)

DecisionTreeRegressor(criterion='mse', max_depth=6, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [12]:
pred = regressor.predict(test_data)

In [13]:
# MSE
from sklearn import metrics
print('Mean Squared Error:', metrics.mean_squared_error(test_label, pred))

Mean Squared Error: 4.912791989597728